@font-face {
    font-family: Marcellus-Regular;
    src: url(../fonts/marcellus.ttf)
}
body {
    /* background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
    /* background-image: url(../images/background.jpg) ; */
    background: linear-gradient(0deg, rgb(242, 216, 249), rgb(194, 244, 239), rgb(239, 246, 202));
    /* background-repeat: repeat; */
    font-family: Marcellus-Regular;
    font-weight: 200;
   
}
.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    padding: 25px; 
}

header {    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

figure {
    margin: 0 auto;
}
h1 {
    color: #bda896;
    font-size: 48px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 0;
}

h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #856a55;
    font-weight: 200;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #856a55;
    font-weight: 200;
}

p{
    text-align: justify;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
ul li {
    margin: 5px;
    text-align: justify;
}
.contact li {
    width: 260px;
    height: 38px;
    border-radius: 5px;
    background: rgb(179, 179, 179, 0.2);
}

ul.soc li {
    display: inline;
    padding: 3px;
}

.main {
    min-width: 300px;
    background: rgb(179, 179, 179, 0.2);
    border-radius: 10px;
}
.text {
    width: px;
}


div {
    padding: 20px;
}


.avatar {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    display: block;
    margin: 0 auto;
}

.position {
    font-size: 24px;
    margin-top: 0;
    color: #bda896;
}

footer {
    display: flex;
    justify-content: space-between;
}

details {
    width: 70%;
}
details p {
    margin: 8px;
}

.github {
    margin-bottom: 15px;
}

.contact {
    text-size: 0.3em;
}

.contact img{
    vertical-align: middle;
}
