header {
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

div {
    width: 960px;
    margin: 0 auto;
}

img {
    width: 210px;
    height: 250px;
    
    object-fit: cover;
    object-position: 50% 50%;
}